{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container mb-3">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card-deck">
                {% for athlete in athletes %}
                <div class="card">
                    <img class="card-img-top" src="{{ athlete.image }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ athlete.name }}</h5>
                        <p class="card-title">{{ athlete.sport }}</p>
                        <p class="card-text"> {{ athlete.background }}</p>
                        <a href="{{ athlete.social_url }}"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}