{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid text-center" style="min-height: 50vh;">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
            <div class="image-container my-5">
                {% if athlete.image %}
                <a href="{{ athlete.image_url }}" target="_blank">
                    <img class="card-img-top img-fluid" src="{{ athlete.image_url }}" alt="{{ athlete.name }}"
                        style="border-radius: 50%;">
                </a>
                {% else %}
                <a href="">
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ athlete.name }}">
                </a>
                {% endif %}
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 text-center">
            <div class="product-details-container mb-5 mt-md-5">
                <h1>Athlete Profile</h1>
                <hr class="w-75 pt-3 mb-1">
                <h2 class="mb-2">{{ athlete.name }}</h2>
                <h3 class="lead mb-2 font-weight-bold"><strong>{{ athlete.sport }}</strong></h3>
                <h3 class="lead">{{ athlete.background }}</h3>
                <div class="col py-2 text-center">
                    <a class="ath-detail" href="{{ athlete.social_url }}"><i class="fab fa-instagram fa-xl"></i></a>
                    <a class="ath-detail" href="{{ athlete.social_url2 }}"><i class="fab fa-linkedin fa-xl"></i></a>
                </div>
                {% if request.user.is_superuser %}
                <small class="text-center pt-2">
                    <a class="text-primary form-link mr-2" href="{% url 'edit_athlete' athlete.id %}">Edit</a>
                    <span class="text-black"> | </span> 
                    <a class="text-danger ml-2" href="{% url 'delete_athlete' athlete.id %}">Delete</a>
                </small>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<hr class="w-100 pt-3 mb-1">
<div class="container text-center">
    <div class="row">
            <div class="col-6 text-align-center">
                <a class="ath-detail" href="{% url 'home' %}"><i class="fas fa-home"></i></a>
                <h5 class="px-2 py-2">Go Home</h5>
            </div>
            <div class="col-6 text-align-center">
                <a class="ath-detail" href="{% url 'products' %}"><i class="fas fa-shopping-bag"></i></a>
                <h5 class="px-2 py-2">Go Shopping</h5>
            </div>
            </div>
        </div>




{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/qty_input_script.html' %}
{% endblock %}